# Python env file
backend/.env
# Security patterns
*.key
*.pem
*.p12
*.pfx
*.jks
*.crt
*.cert
# Node env files
.env
.env.*
# Ignore local settings
local_settings.py
# Ignore IDE & editor settings
.idea/
*.sublime-project
*.sublime-workspace