.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 100px;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.title {
    font-family: serif; /* Matches your Aurora style */
    font-size: 30px;
    font-weight: 400;
}

.underline {
    width: 35px;
    height: 3px;
    background-color: #333;
}

.inputField {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.forgotPassword {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #555;
}

.toggleText {
    cursor: pointer;
    color: black;
    font-weight: 600;
}

.submitButton {
    background-color: black;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: #333;
}