.banner {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--light-gray);
}

.imageContainer, .content {
  flex: 1 1 400px; /* Will stack on smaller screens */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.content h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 30px;
}

.button {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 15px 30px;
  font-size: 14px;
  font-weight: 600;
  align-self: flex-start;
  transition: all 0.3s;
}

.button:hover {
  background-color: var(--primary-color);
  color: #fff;
}